:host(app-post-item) {
  width: 75%;
  padding: 19px;
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  margin: 2% 0;
  position: relative;
}

.content {
  margin-top: 16px;
}


.btn {
  &__sm {
    top: 4px !important;
    right: 75px !important;
  }
  &__del {
    background-color: crimson !important;
    font-size: 1.1rem;
    padding: 6px 11px !important;
    top: 9px !important;
    right: 19px !important;
    transition: 0.4s all;
    &:hover {
      opacity: 0.75;
      box-shadow: none !important;
      transform: scale(1.1,1.1);
    }
  }
}
